.container{
    width: 100%;
    height: 600px;
    left: 0px;
    top: 0px;
    background: #F0FFF0;
}
#logo1{
    width: 160px;
    height: 50px;
}
.collapse{
    margin-left: 720px;
}
.sign-button{
    width: 104px;
    height: 43px;
    left: 1201px;
    top: 25px;
    color: white;
    background: #21B573;
    border-radius: 33px;
    border-style: none;
}
.nav-item{
    font-size: 15px;
    font-weight: 700;
}
.categories{
    margin-top: 100px;
    margin-left: 30px;
}
.get-button{
    width: 104px;
    height: 43px;
    left: 1201px;
    top: 25px;
    color: white;
    background: #21B573;
    border-radius: 33px;
    border-style: none;
}
.cat1{
    margin-top:40px;
}
#color{
    color: #21B573;
}
h1{
    font-weight: 700;
}
h6{
    color: #FD511A;
}
#img2{
    margin-left: 80px;
    width: 700px;
    height: 390px;
}
.container2{
    width: 100%;
    height: 320px;
    margin-left:300px ;
}
#book1{
    margin-top: 60px;
    width: 270px;
    height: 270px;
    left: 135px;
    top: 618px;
    background: #F8FFFB;
    border-radius: 10px;
}
#topic{
    margin-top: 160px;
    font-weight: 700;
    font-size: 16px;
    margin-left: 60px;
}
#learn{
    margin-top: -82px;
    margin-left: 55px;
}
#img3{
    margin-top: 50px;
    position: absolute;
    width: 74px;
    height: 92px;
    left: 380px;
    top: 672px;
}
#book2{
    position: absolute;
    width: 270px;
    height: 270px;
    left: 635px;
    top: 658px;
    
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#img4{
    margin-top: 68px;
    margin-left: 80px;
    /* position: absolute; */
    width: 86px;
    height: 98px;
    left: 640px;
    top: 685px;
}
#topic2{
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    margin-left: 58px;
}
#learn2{
    margin-top: -82px;
    margin-left: 58px;
}
.container2 p{
    margin-top: 190px;
    width: 120px;
    height: 92px;
    left: 480px;
    top: 772px;
}